body{
    font-family: Garamond;
    text-align: center;
}

.baner{
    background-color: #0451b0;
    color: white;
    height: 70px;
    font-size: 150%;
}

.stopka{
    background-color: #0451b0;
    color: white;
    height: 70px;
    font-size: 150%;
}

.bloki{
    display:flex;
}

.blok_lewy{
    background-color: #5ca4fd;
    height: 600px;
    width: 35%;
}

.blok_prawy{
    background-color: #8ec0fd;
    height: 600px;
    width: 65%;
}

