.kursywa{
    font-style: italic;
}

img{
    height: 200px;
}

.header{
    color: blue;
    height: 200px;
    background-image: url(menu.jpg);

}

.panel_lewy{
    background-color: rgb(255,218,65);
    text-align: center;
    width: 40%;
    height: 400px;
}

.panel_srodkowy{
    background-color: rgb(255,226,100);
    text-align: center;
    width: 30%;
    height: 400px;
}

.panel_prawy{
    background-color: rgb(255,233,143);
    text-align: center;
    width: 30%;
    height: 400px;
}

.stopka{
    background-color: rgb(255,218,65);
    color: blue;
}

a{
    color: green;

}

p{
    font-size: 130%;
}

.sekcje{
    display: flex;
    flex-direction: row;
}

body{
    margin: 0;
}
